* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #5d3800;
    /* cursor: cell; */
    cursor: url('bee.png'), auto;
}

